.reset-password {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9dfe0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.reset-password h4 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password form {
  display: flex;
  flex-direction: column;
}

.reset-password label {
  margin-bottom: 5px;
}

.reset-password input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.reset-password button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0a745d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password button:hover {
  background-color: #4c76ba;
}
.reset-password button:hover {
  background-color: #24385a !important;
}

.outer {
  padding-top: 10vh;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 5vw; /* Adjust width as needed */
  margin-right: 10px; /* Adjust margin as needed */
  min-width: 30px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.heading-text {
  margin-top: 20px;
  font-family: "MaadicoFont";
}
